{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="carousel slide">
        <div class="container">
            <div class="carousel-centered">
                <div class="margin-b-40">
                    <h1 class="carousel-title">Pizza!</h1>
                    <p class="color-white">Classic pizza recipe, including pizza dough and toppings, <br>step-by-step instructions with photos. <br>Make perfect pizza at home!</p>
                </div>
                <a href="{% url 'pizza_all' %}" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">All pizzas</a>
            </div>
        </div>
    </div>

    <div id="products" class="section-seperator">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>Latest Pizzas</h2>
                    <p>See the latest pizza recipes.</p>
                </div>
            </div>

            <div class="row">
                {% for pizza in pizzas %}
                    {% include 'partials/pizza.html' %}
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}