{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/sec-header.html' %}
    <div class="section-seperator">
        <div class="content-lg container">

            <form   role="form"
                    action="{% url 'lobolable_login' %}?next={{ request.GET.next }}"
                    method="post">

                {% csrf_token %}

                <p>Please login.</p>

                {{ form | crispy }}

                <button type="submit" class="btn-theme btn-theme-sm btn-white-bg text-uppercase">Sign in</button>
            </form>
        </div>
    </div>

{% endblock %}