{% extends 'base.html' %}


{% block content %}
    {% include 'partials/sec-header.html' %}

    <div id="products" class="section-seperator">
        <div class="content-lg container">
            <div class="row margin-b-40">
                <div class="col-sm-6">
                    <h2>All Pizzas</h2>
                    <p>See all pizza recipes.</p>
                </div>
            </div>

            <div class="row">
                {% for pizza in pizzas %}
                    {% include 'partials/pizza.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}