{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'partials/sec-header.html' %}
    <div class="section-seperator pizza-page">
        <div class="content-lg container">

            <h1>{{ pizza.name }}</h1>
            <span class="text-right">by {{ pizza.user }}</span>

            <div class="row">
                <div class="col-sm-8 pizza-content">
                    {% if pizza.image %}
                        <img src="{{ pizza.image.url }}" class="margin-b-40" alt="">
                    {% endif %}
                    <div class="margin-b-40">
                        <h4>Ingredients</h4>
                        <div class="info ingredients">{{ pizza.ingredients | linebreaks }}</div>
                    </div>
                    <div class="margin-b-40">
                        <h4>Preparation</h4>
                        <div class="info">{{ pizza.preparation | linebreaks }}</div>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'pizza_pdf' pizza_url=pizza.url_name %}"
                           class="btn-theme btn-theme-sm btn-white-bg text-uppercase"
                           target="_blank">
                            Print
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 ">

                    <div class="service bg-color-base margin-b-40">
                        <span class="color-white">{{ pizza.description }}</span>
                    </div>

                    {% if user.is_authenticated %}
                        <div class="margin-b-40 collapsed panel-title-child">
                            <h5>Your comment:</h5>
                            <form id="comment-form"
                                  action="{% url 'pizza_item' pizza_url=pizza.url_name  %}"
                                  method="post">

                                {% csrf_token %}

                                {{ form | crispy }}

                                <button type="submit"
                                        class="btn-theme btn-theme-sm btn-white-bg text-uppercase full-width"
                                        id="submit-comment">Submit</button>
                            </form>
                        </div>
                    {% endif %}

                    <h4>Comments:</h4>

                    <div id="comments-container">
                        {% include 'partials/comments.html' %}

                        {% if not comments %}
                            <h6 class="btn-theme btn-theme-sm btn-default-bg text-uppercase">no comments yet : (</h6>
                        {% endif %}
                    </div>

                    {% if not user.is_authenticated %}
                        <div class="margin-t-20">
                            <a href="{% url 'lobolable_login' %}?next={{request.path | urlencode}}">Login</a> or <a href="{% url 'lobolable_signup' %}?next={{request.path | urlencode}}">Register</a> to add a comment.
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}