{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Pizza lobolable</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="app for pizzas" name="description"/>
        <meta content="georgieff" name="author"/>

        <link href="http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet" type="text/css">
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'css/layout.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body id="body">

        <!--========== HEADER ==========-->
        <header class="header">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container js_nav-item">

                        <!-- Logo -->
                        <div class="logo">
                            <a class="logo-wrap" href="/">
                               lobolable<span>pizza</span>
                            </a>
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'lobolable_homepage' %}">Home</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'pizza_all' %}">Pizzas</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{% url 'lobolable_contact' %}">Contact</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover"
                                    {% if user.is_authenticated %}
                                        href="{% url 'lobolable_logout' %}?next={{request.path}}">{{ user | urlencode }}, Logout</a>
                                    {% else %}
                                        href="{% url 'lobolable_login' %}?next={{request.path | urlencode}}">Login</a>
                                    {% endif %}
                                    </a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>

        {% block content %}
        {% endblock %}

        <footer class="footer">

            <!--<div class="section-seperator">-->
                <!--<div class="content-md container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm-2 sm-margin-b-30">-->

                            <!--<ul class="list-unstyled footer-list">-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Home</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">About</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Work</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Contact</a></li>-->
                            <!--</ul>-->

                        <!--</div>-->
                        <!--<div class="col-sm-2 sm-margin-b-30">-->

                            <!--<ul class="list-unstyled footer-list">-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Twitter</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Facebook</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Instagram</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">YouTube</a></li>-->
                            <!--</ul>-->

                        <!--</div>-->
                        <!--<div class="col-sm-3">-->

                            <!--<ul class="list-unstyled footer-list">-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Subscribe to Our Newsletter</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Privacy Policy</a></li>-->
                                <!--<li class="footer-list-item"><a href="http://keenthemes.com/">Terms &amp; Conditions</a></li>-->
                            <!--</ul>-->

                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
            <!--</div>-->


            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        logolable<span>pizza</span>
                    </div>
                    <div class="col-xs-6 text-right">
                    </div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>


    </body>
    <!-- END BODY -->
</html>
